*{
    margin: 0;
    padding: 0;
}

fieldset{
    border: 3px solid rgb(255, 208, 0);
    border-radius: 5px;
    padding: 1.3em;
    background-color: rgba(0,0,0,0.5);
}

legend {
    border: 1px solid rgb(255, 208, 0);
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 208, 0);
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://i.gifer.com/origin/37/376a66dacbd417010b5eda0d46ada276.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 4em
}

strong {
    color: white;
}

.div1 {
    margin-left: 35%;
}

input, select, textarea, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    border-radius: 5px;
}

.campo, .div1{
    margin-bottom: 1em;
}

.radio label{
    margin-bottom: 0.2em;
    color: white;
    display: flex;
    flex-direction: block;

}

fieldset {
    margin-right: 1em;
}

.campo input[type="text"], .campo select, .campo textarea {
    padding: 0.2em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: block;
}


.campo select option {
    padding-right: 1em;
}


.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #f8f6e0;
}

.passo {
    display: none;
}

.btnInput {
    font-size: 1.2em;
    background: rgb(255, 208, 0);
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 40%;
    
}

.btnInput:hover {
    background-color: black;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.btnInput, select {
    cursor: pointer;
}

